<h1> Title: <%= @post.title %></h1>
<h1> Content: <%= @post.content %></h1>
<h1> likes: <%= @post.likes %></h1>
<%= link_to @post.blogger.name, blogger_path(@post.blogger) %> 
<%= link_to @post.destination.name, destination_path(@post.destination) %> 





<%= button_to "Like", action: 'like' %>
<%= button_to "Edit Post", edit_post_path(@post), method: :get %>
<%= button_to "Remove Post", post_path(@post), method: 'delete', data: { confirm: 'Are you sure' } %>


